# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# --- Virtualenv (Poetry local env) ---
.venv/

# --- Editor/IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- Test & Coverage ---
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# --- Logs ---
*.log

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS files ---
.DS_Store
Thumbs.db


# -- Output and images
output/*.png